.cont {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




svg {
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s alternate;
    stroke-width: 2;
    /* stroke: #000000; */
    font-size: 80px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgb(0, 0, 0);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgb(0, 0, 0);
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgb(0, 0, 0);
        stroke-width: 3;
    }

    100% {
        fill: rgb(0, 0, 0);
        stroke: rgba(0, 0, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}





:root {
    /*diagonal to top right*/
    --dttrshapeWidth: 200px;
    --dttrshapeHeight: 200px;
    --dttrPosX: 30vw;
    --dttrPosY: 40vh;
    --dttrBgColorStart: #95C3DC;
    --dttrBgColorEnd: #DC95D5;
    --dttrMoveX: calc(100vw - var(--dttrshapeWidth));
    --dttrMoveY: 0px;

    /*diagonal to top left*/
    --dttlshapeWidth: 75px;
    --dttlshapeHeight: 75px;
    --dttlPosX: 60vw;
    --dttlPosY: 40vh;
    --dttlBgColorStart: #E6770E;
    --dttlBgColorEnd: #FEDABF;
    --dttlMoveX: 0px;
    --dttlMoveY: 0px;

    /*diagonal to bottom right*/
    --dtbrshapeWidth: 175px;
    --dtbrshapeHeight: 175px;
    --dtbrPosX: 60vw;
    --dtbrPosY: 60vh;
    --dtbrBgColorStart: rgba(255, 0, 0, 0.20);
    --dtbrBgColorEnd: rgba(0, 117, 255, 0.20);
    --dtbrMoveX: calc(100vw - var(--dtbrshapeWidth));
    --dtbrMoveY: calc(100vh - var(--dtbrshapeWidth));

    /*diagonal to bottom left*/
    --dtblshapeWidth: 125px;
    --dtblshapeHeight: 125px;
    --dtblPosX: 50vw;
    --dtblPosY: 50vh;
    --dtblBgColorStart: rgba(97, 32, 202, 0.50);
    --dtblBgColorEnd: rgba(202, 32, 63, 0.50);
    --dtblMoveX: 0px;
    --dtblMoveY: calc(100vh - var(--dtblshapeWidth));

    /*center-to-top*/
    --cttshapeWidth: 175px;
    --cttshapeHeight: 175px;
    --cttPosX: 30vw;
    --cttPosY: 50vh;
    --cttBgColorStart: rgba(247, 155, 68, 0.40);
    --cttBgColorEnd: rgba(125, 68, 247, 0.40);
    --cttMoveYTop: calc(60vh - var(--cttshapeWidth));
    --cttMoveXTop: calc(60vw - var(--cttshapeHeight));
}

body {
    margin: 0;
    padding: 0;
}

.hero-section-wrap {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.item {
    position: relative;
    width: 100%;
    border: 1px solid red;
}

.box {
    width: var(--shapeWidth);
    height: var(--shapeHeight);
    border-radius: 50%;
    position: absolute;
    filter: blur(50px);
}

/*diagnoal-top-to-right*/
.diagnoal-top-to-right {
    z-index: 5;
    width: var(--dttrshapeWidth);
    height: var(--dttrshapeHeight);
    background-color: var(--dttrBgColorStart);
    transform: translate(var(--dttrPosX), var(--dttrPosY));
    animation: svgfade 2.5s ease-in-out 1,
        diagnoal-top-to-right-move 2.5s 2.5s cubic-bezier(.04, .79, .49, .93) 1,
        diagnoal-top-to-right-color 2.5s 5s ease-in-out infinite;
}

@keyframes diagnoal-top-to-right-move {
    0% {
        transform: translate(var(--dttrPosX), var(--dttrPosY));
    }

    100% {
        transform: translate(var(--dttrMoveX), var(--dttrMoveY));
    }
}

@keyframes diagnoal-top-to-right-color {

    0%,
    100% {
        transform: translate(var(--dttrMoveX), var(--dttrMoveY));
        background-color: var(--dttrBgColorStart);
    }

    50% {
        transform: translate(var(--dttrMoveX), var(--dttrMoveY));
        background-color: var(--dttrBgColorEnd);
    }
}

/*diagnoal-top-to-left*/
.diagnoal-top-to-left {
    z-index: 4;
    width: var(--dttlshapeWidth);
    height: var(--dttlshapeHeight);
    background-color: var(--dttlBgColorStart);
    transform: translate(var(--dttlPosX), var(--dttlPosY));
    animation: svgfade 2.5s ease-in-out 1,
        diagnoal-top-to-left-move 2.5s 2.5s cubic-bezier(.04, .79, .49, .93) 1,
        diagnoal-top-to-left-color 2.5s 5s ease-in-out infinite;
}

@keyframes diagnoal-top-to-left-move {
    0% {
        transform: translate(var(--dttlPosX), var(--dttlPosY));
    }

    100% {
        transform: translate(var(--dttlMoveX), var(--dttlMoveY));
    }
}

@keyframes diagnoal-top-to-left-color {

    0%,
    100% {
        transform: translate(var(--dttlMoveX), var(--dttlMoveY));
        background-color: var(--dttlBgColorStart);
    }

    50% {
        transform: translate(var(--dttlMoveX), var(--dttlMoveY));
        background-color: var(--dttlBgColorEnd);
    }
}

/*diagnoal-bottom-to-right*/
.diagnoal-bottom-to-right {
    z-index: 3;
    width: var(--dtbrshapeWidth);
    height: var(--dtbrshapeHeight);
    background-color: var(--dtbrBgColorStart);
    transform: translate(var(--dttlPosX), var(--dttlPosY));
    animation: svgfade 2.5s ease-in-out 1,
        diagnoal-bottom-to-right-move 2.5s 2.5s cubic-bezier(.04, .79, .49, .93) 1,
        diagnoal-bottom-to-right-color 2.5s 5s ease-in-out infinite;
}

@keyframes diagnoal-bottom-to-right-move {
    0% {
        transform: translate(var(--dtbrPosX), var(--dtbrPosY));
    }

    100% {
        transform: translate(var(--dtbrMoveX), var(--dtbrMoveY));
    }
}

@keyframes diagnoal-bottom-to-right-color {

    0%,
    100% {
        transform: translate(var(--dtbrMoveX), var(--dtbrMoveY));
        background-color: var(--dtbrBgColorStart);
    }

    50% {
        transform: translate(var(--dtbrMoveX), var(--dtbrMoveY));
        background-color: var(--dtbrBgColorEnd);
    }
}

/*diagnoal-bottom-to-left*/
.diagnoal-bottom-to-left {
    z-index: 2;
    width: var(--dtblshapeWidth);
    height: var(--dtblshapeHeight);
    background-color: var(--dtblBgColorStart);
    transform: translate(var(--dtblPosX), var(--dtblPosY));
    animation: svgfade 2.5s ease-in-out 1,
        diagnoal-bottom-to-left-move 2.5s 2.5s cubic-bezier(.04, .79, .49, .93) 1,
        diagnoal-bottom-to-left-color 2.5s 5s ease-in-out infinite;
}

@keyframes diagnoal-bottom-to-left-move {
    0% {
        transform: translate(var(--dtblPosX), var(--dtblPosY));
    }

    100% {
        transform: translate(var(--dtblMoveX), var(--dtblMoveY));
    }
}

@keyframes diagnoal-bottom-to-left-color {

    0%,
    100% {
        transform: translate(var(--dtblMoveX), var(--dtblMoveY));
        background-color: var(--dtblBgColorStart);
    }

    50% {
        transform: translate(var(--dtblMoveX), var(--dtblMoveY));
        background-color: var(--dtblBgColorEnd);
    }
}

/*center-to-top*/
.center-to-top {
    z-index: 1;
    width: var(--cttshapeWidth);
    height: var(--cttshapeHeight);
    background-color: var(--cttBgColorStart);
    transform: translate(var(--cttPosX), var(--cttPosY));
    animation: svgfade 2.5s ease-in-out 1,
        center-to-top-move 2.5s 2.5s cubic-bezier(.04, .79, .49, .93) 1,
        center-to-top-color 2.5s 5s ease-in-out infinite;
}

@keyframes center-to-top-move {
    0% {
        transform: translate(var(--cttPosX), var(--cttPosY));
    }

    100% {
        transform: translate(var(--cttMoveXTop), var(--cttMoveYTop));
    }
}

@keyframes center-to-top-color {

    0%,
    100% {
        transform: translate(var(--cttMoveXTop), var(--cttMoveYTop));
        background-color: var(--cttBgColorStart);
    }

    50% {
        transform: translate(var(--cttMoveXTop), var(--cttMoveYTop));
        background-color: var(--cttBgColorEnd);
    }
}

/* SVG FADE */
@keyframes svgfade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #5f5c5c 0%, #9f9e9e 13%, #8a8a93 25%, #5c5c67 38%, #7e7e89 50%, #78787a 62%, #c6c6c8 75%, #656575 87%, #595961 100%);
    ;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1000;
}



@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}